<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <style>
    body {
      font-family: 'Calligraffitti';font-size: 30px; font-weight: bold;
    }
    .bowl {
      position: absolute;
      background: #5D2F22;
      border-radius: 43%;
      height: 275px;
      width: 155px;
      box-shadow: -10px -10px 10px 15px #0C0E0B inset;
    }
    .bowl_light {
      position: absolute;
      background: radial-gradient(at 30% 60%, #D9BCAC , #5D2F22 50%);
      border-radius: 43%;
      height: 275px;
      width: 155px;
      position: absolute;
        opacity: 0.5;
    }
    .bowl_rim {
      position: absolute;
      background-color:#C4A590;
      border-radius: 50%;
      height: 35px;
      width: 155px;
      box-shadow: -15px 5px 5px 1px #A58063 inset;
    }
    .bowl_inner {
      position: absolute;
      background-color:#55403D;
      border-radius: 50%;
      height: 18px;
      width: 121px;
      box-shadow: 20px 3px 5px 2px #0C0E0B inset;
    }
    .pipe1_shaded {
      position: absolute;
      background-color: #5D2F22;
      border-radius: 50%;
      height: 53px;
      width: 90px;
      box-shadow: 10px -3px 7px 0px #0C0E0B inset;
    }
    .pipe1_wide {
      position: absolute;
      background-color: #5D2F22;
      border-radius: 50%;
      height: 35px;
      width: 174px;
    }
    .pipe1 {
      position: absolute;
      background-color: #5D2F22;
      border-radius: 50%;
      height: 80px;
      width: 90px;;
    }
    .pipe2 {
      position: absolute;
      background-color: #0C0E0B;
      border-radius: 50%;
      height: 120px;
      width: 255px;;
    }
    .end {
      background-color: #3A2E46;
      position: absolute;
      border-radius: 50%;
      height: 35px;
      width: 40px;
    }
    .end_rect_highlight {
      background-color: #8E7F86;
      position: absolute;
      border-radius: 5%;
      height: 5px;
      width: 20px;
    }
    .darkpipe {
      background-color: #3A2E46;
      position: absolute;
      border-radius: 50%;
      height: 70px;
      width: 70px;
    }
    .pipe_shader {
      position: absolute;
      background-color: #0C0E0B;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
    .rotated_rect {
      position: absolute;
      background-color: #5D2F22;
      border-radius: 20%;
      height: 30px;
      width: 100px;
      transform: rotate(20deg);
    }
  </style>
</head>
<body>

<div class="canvas">
  <div class="pipe2" style="top:42%;left:10.8%"></div>
  <%= erase_rect(width: 400, height: 100, top: 25, left: 9) %>
  <%= erase_rect(width: 100, height: 100, top: 45, left: 0) %>
  
  <div class="bowl" style="top: 0%; left: 9%"></div>
  <%= erase_rect(width: 160, height: 100, top: 0, left: 9) %>
  <div class="bowl_rim" style="top: 20%; left: 9%">
    <div class="bowl_inner" style="top:28%; left: 10%"></div>
  </div>


  <% draw(color: 'high', w: 10, h: 60, top: 30, left: 12, radius: 40,
           rotate: -3,
           extra: 'opacity: 0.5; box-shadow: -0px 0px 15px 10px rgb(217, 188, 172)') %>
  

  <%= draw(w: 70, h: 30, top: 48, left: 35, radius: 20, rotate: -10) %>
  <%= draw(w: 70, h: 30, top: 45, left: 40, radius: 20, rotate: -20) %>
  <%= draw(w: 70, h: 30, top: 43, left: 43, radius: 20, rotate: -25) %>
  <%= draw(w: 70, h: 30, top: 39, left: 46, radius: 20, rotate: -28) %>
  <%= draw(w: 70, h: 30, top: 36, left: 49, radius: 20, rotate: -30) %>
  <%= draw(w: 70, h: 30, top: 34, left: 53, radius: 20, rotate: -25) %>

  <%= draw(w: 90, h: 30, top: 44, left: 38, radius: 40, rotate: -23) %>

  <%= draw(w: 70, h: 30, top: 47, left: 35, radius: 20, rotate: -10) %>
  <%= draw(w: 70, h: 30, top: 45, left: 40, radius: 20, rotate: -20) %>
  <%= draw(w: 70, h: 30, top: 42, left: 43, radius: 20, rotate: -25) %>
  <%= draw(w: 70, h: 30, top: 39, left: 46, radius: 20, rotate: -28) %>
  <%= draw(w: 70, h: 30, top: 36, left: 49, radius: 20, rotate: -31) %>
  <%= draw(w: 70, h: 30, top: 33, left: 53, radius: 20, rotate: -25) %>

  <%= draw(color: 'dark', w: 70, h: 30, top: 55, left: 43, radius: 25,
           rotate: -35) %>
  <%= draw(color: 'dark', w: 70, h: 30, top: 52, left: 46, radius: 15,
           rotate: -30) %>
  <%= draw(color: 'dark', w: 70, h: 30, top: 45.5, left: 53, radius: 15,
           rotate: -30) %>
  <%= draw(color: 'dark', w: 70, h: 30, top: 43.4, left: 55, radius: 15,
           rotate: -30) %>

  <%= draw(w: 180, h: 40, top: 43, left: 38, radius: 20, rotate: -25,
           extra: 'box-shadow: 6px -10px 7px 0px #0C0E0B inset;') %>

  <%= draw(color: 'black', w: 50, h: 30, top: 27.5, left: 62, radius: 15,
           rotate: -30) %>
  <%= draw(color: 'black', w: 50, h: 30, top: 24, left: 66, radius: 15,
           rotate: -25) %>
  <%= draw(color: 'black', w: 40, h: 30, top: 22, left: 70, radius: 40,
           rotate: -15) %>
  <%= draw(color: 'black', w: 50, h: 40, top: 21, left: 73, radius: 25,
           rotate: -5) %>
  <%= draw(color: 'black', w: 50, h: 30, top: 20.8, left: 76, radius: 25,
           rotate: 0) %>


  <%= draw(color: 'black', w: 80, h: 60, top: 27, left: 62, radius: 25,
           rotate: -40,
           extra: 'box-shadow: 0px -20px 7px 0px #000000 inset;') %>

  <%= draw(color: 'black', w: 80, h: 25, top: 27, left: 72, radius: 15,
           rotate: -22,
           extra: 'box-shadow: 0px -20px 7px 0px #000000 inset;') %>

  <%= draw(color: 'black', w: 30, h: 35, top: 20, left: 81, radius: 50,
           rotate: 0,
           extra: 'transform: skewY(45deg);box-shadow: -200px 0px 7px 0px #000000 inset;') %>


  <%= draw(w: 21, h: 72, top: 29, left: 62, radius: 0, rotate: -29,
           color: 'band',
           extra: 'box-shadow: 0px -28px 7px 0px #3E2622 inset;') %>


  <div class="pipe1_shaded" style="top: 48%; left: 30%; transform: rotate(-10deg);"></div>


  <div class="message">
    Ceci&nbsp; n'est pas une propri&eacute;t&eacute; intellectuelle .
  </div>
</div>


</body>
</html> 

